{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "plugins": ["stylelint-prettier"],
  "rules": {
    "prettier/prettier": true,
    "selector-class-pattern": null,
    "max-nesting-depth": [
      1,
      {
        "ignore": ["pseudo-classes", "blockless-at-rules"]
      }
    ],
    "selector-nested-pattern": "^&:"
  }
}
